
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Kullanıcı arayüzü.    
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Home/Logout">Çıkış</a>
        }
    </div>
</body>
</html>
