
@{
    Layout = null;
}


<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>tarifdefterim</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="yeme,içme,tarif" name="description" />
    <meta content="Gökhan ÖZGÜR" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/bootstrap-switch.min.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Areas/Admin/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/select2-bootstrap.min.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Areas/Admin/Content/css/components.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/plugins.min.css" rel="stylesheet" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Areas/Admin/Content/css/login-5.min.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/images/tarifdefterim_icon.png" />

    <style>
        .user-login-5 .login-container > .login-content{margin-top:15%;}
    </style>
    
</head>
<!-- END HEAD -->
<body class=" login">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset mt-login-5-bsfix">
                <div class="login-bg" style="background-image:url(/Areas/Admin/Content/images/login/bg1.jpg)">
                </div>
            </div>
            <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                <div class="login-content">
                    <h1><b>tarifdefterim</b> Kayıt</h1>
                    <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                    <form id="userregister" action="/Home/Register" class="login-form" method="post" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-xs-6">
                                <input id="Name" type="text" autocomplete="off" placeholder="Adınız" name="Name" value="" class="form-control form-control-solid placeholder-no-fix form-group" required />
                            </div>
                            <div class="col-xs-6">
                                <input id="LastName" type="text" autocomplete="off" placeholder="Soyadınız" name="LastName" value="" class="form-control form-control-solid placeholder-no-fix form-group" required />
                            </div>
                            <div class="col-xs-6">
                                <input id="UserName" type="text" autocomplete="off" placeholder="Kullanıcı adınız" name="UserName" value="" class="form-control form-control-solid placeholder-no-fix form-group" required />
                                <span id="userinputessage" style="display:none"></span>
                            </div>
                            <div class="col-xs-6">
                                <input id="Email" type="email" autocomplete="off" placeholder="E-Mail" name="Email" value="" class="form-control form-control-solid placeholder-no-fix form-group" />
                                <span id="emailinputmessage" style="display:none"></span>
                            </div>
                            <div class="col-xs-6">
                                <input id="Password" type="password" autocomplete="off" placeholder="Şifre" name="Password" value="" class="form-control form-control-solid placeholder-no-fix form-group" required />
                            </div>
                            <div class="col-xs-6">
                                <input id="Re-Password" type="password" autocomplete="off" placeholder="Şifre tekrar" name="Re-Password" value="" class="form-control form-control-solid placeholder-no-fix form-group" required />
                                <span id="passwordmachmessage" style="display:none;"></span>
                            </div>
                            <div class="col-xs-12">
                                <input id="Image" type="file" autocomplete="off" name="Image" value="" class="form-control form-control-solid placeholder-no-fix form-group" />
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-8 text-right">
                                    @if (ViewBag.Message != null)
	                                {
                                       <label style="color:red;">@ViewBag.Message</label>
	                                }
                                    <div class="forgot-password">
                                        <a href="/" id="webpage" style="color:#a4aab2;">Web Sayfasına Dön</a>
                                    </div> 
                                    <div class="forgot-password">
                                        <a href="/Home/Login" id="registerform" style="color:#a4aab2;">Girişe Git</a>
                                    </div>                                     
                                    <input type="submit" name="submit" id="registerbutton" value="Kayıt" class="btn green"/>

                                    <div id="wait" style="display:none;">
                                        <img src="~/Content/images/bekleyiniz.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>

                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; Gökhan ÖZGÜR 2017 - @DateTime.Now.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END : LOGIN PAGE 5-1 -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/js/js.cookie.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.blockui.min.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap-switch.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Areas/Admin/Content/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Content/js/additional-methods.min.js"></script>
    <script src="~/Areas/Admin/Content/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.backstretch.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Areas/Admin/Content/js/app.min.js"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Areas/Admin/Content/js/login-5.min.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>

        var passMatch = 0;
        var checkEmail = 0;
        var checkUserName = 0;

        $(document).ready(function () {

            $("#userregister").submit(function (e) {
                e.preventDefault();

                if (passMatch == 0 || checkEmail == 0 || checkUserName ==0) {
                    $("#registerbutton").prop("disabled", true);
                }
                else {
                    $("#registerbutton").prop("disabled", false);
                }

                $("#registerbutton").prop("disabled", true);
            });

            $("#Re-Password").change(function () {

                var p1 = $("#Password").val();
                var p2 = $("#Re-Password").val();

                if (p1 == p2) {
                    $("#registerbutton").prop("disabled", false);
                    $("#passwordmachmessage").css("display", "none");
                    passMatch = 1;
                }
                else {
                    //$("#registerbutton").prop("disabled", true);

                    $("#passwordmachmessage").removeAttr("style");
                    $("#passwordmachmessage").text("Şifre alanları birbiriyle aynı olmalıdır.");
                    passMatch = 0;

                }
                

            });

            $("#UserName").change(function () {

                var username = $("#UserName").val();

                $.ajax({

                    url:"@Url.Action("CheckUserNameFromRegisterForm", "Home")",
                    type: "POST",
                    datatype: "Json",
                    data: { username: username },
                    success: function (data) {

                        if (data == false) {

                            $("#userinputessage").removeAttr("style");
                            //$("#userinputessage").text("Bu isim kullanıma uygundur.");
                            $("#userinputessage").html("");
                            passMatch = 1;

                        }
                        else {

                            $("#userinputessage").removeAttr("style");
                            $("#userinputessage").text("Bu isim daha önce alınmıştır.").fadeIn(3000);
                            passMatch = 0;

                        }

                    }

                });

            });


            $("#Email").change(function () {

                var email = $("#Email").val();

                $.ajax({

                    url:"@Url.Action("CheckEMailFromRegisterForm", "Home")",
                    type: "POST",
                    datatype: "Json",
                    data: { email: email },
                    success: function (data) {

                        if (data == false) {

                            $("#emailinputmessage").removeAttr("style");
                            //$("#emailinputmessage").text("Bu mail kullanıma uygundur.");
                            $("#emailinputmessage").html("");
                            passMatch = 1;

                        }
                        else {

                            $("#emailinputmessage").removeAttr("style");
                            $("#emailinputmessage").text("Bu mail daha önce alınmıştır.").fadeIn(3000);
                            passMatch = 0;
                        }

                    }

                });

            });

        });

    </script>
</body>
</html>
