<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="ImageResizer" version="4.2.0" targetFramework="net461" />
  <package id="ImageResizer.Plugins.DiskCache" version="4.2.0" targetFramework="net461" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="4.2.0" targetFramework="net461" />
  <package id="ImageResizer.Plugins.SimpleFilters" version="4.2.0" targetFramework="net461" />
  <package id="ImageResizer.WebConfig" version="4.2.0" targetFramework="net461" />
</packages>