<!-- Sidebar
    ================================================== -->
<div class="four columns">
    <!-- Search Form -->
    <div class="widget search-form">
        <nav class="search">
            <form action="#" method="get">
                <button><i class="fa fa-search"></i></button>
                <input class="search-field" type="text" placeholder="Search for recipes" value="" />
            </form>
        </nav>
        <div class="clearfix"></div>
    </div>

    <!-- Author Box -->
    <div class="widget">
        <div class="author-box">
            <span class="title">Author</span>
            <span class="name">Sandra <br> Fortin</span>
            <span class="contact"><a href="http://www.vasterad.com/cdn-cgi/l/email-protection#1566747b71677455767d7a623b767a78"><span class="__cf_email__" data-cfemail="83f0e2ede7f1e2c3e0ebecf4ade0ecee">[email&#160;protected]</span></a></span>
            <img src="~/Content/images/version_1/author-photo.png" alt="">
            <p>I'm Sandra and this is where I share my stuff. I am madly in love with food. You will find a balance of healthy recipes, comfort food and indulgent desserts.</p>
        </div>
    </div>

    <!-- Popular Recipes -->
    <div class="widget">
        <h4 class="headline">Popular Recipes</h4>
        <span class="line margin-bottom-30"></span>
        <div class="clearfix"></div>

        <a href="recipe-page-1.html" class="featured-recipe">
            <img src="Content/images/version_1/featuredRecipe-01.jpg" alt="">
            <div class="featured-recipe-content">
                <h4>Choclate Cake With Green Tea Cream</h4>

                <div class="rating five-stars">
                    <div class="star-rating"></div>
                    <div class="star-bg"></div>
                </div>
            </div>
            <div class="post-icon"></div>
        </a>
        <div class="clearfix"></div>
    </div>

    <!-- Share -->
    <div class="widget">
        <h4 class="headline">Share</h4>
        <span class="line margin-bottom-30"></span>
        <div class="clearfix"></div>

        <ul class="share-buttons">
            <li class="facebook-share">
                <a href="#">
                    <span class="counter">1,234</span>
                    <span class="counted">Fans</span>
                    <span class="action-button">Like</span>
                </a>
            </li>
            <li class="twitter-share">
                <a href="#">
                    <span class="counter">863</span>
                    <span class="counted">Followers</span>
                    <span class="action-button">Follow</span>
                </a>
            </li>
            <li class="google-plus-share">
                <a href="#">
                    <span class="counter">902</span>
                    <span class="counted">Followers</span>
                    <span class="action-button">Follow</span>
                </a>
            </li>            
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
