<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <li class="nav-item start ">
                <a href="/Admin/Home" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Kullanıcı İşlemleri</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin/AppUser/AddUser" class="nav-link ">
                            <i class="icon-user-follow"></i>
                            <span class="title">Kullanıcı Ekle</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin/AppUser/AppUserList" class="nav-link ">
                            <i class="icon-users"></i>
                            <span class="title">Kullanıcı Listesi</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-chemistry"></i>
                    <span class="title">Gıda Türü İşlemleri</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin/Kind/AddKind" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Gıda Türü Ekle</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin/Kind/KindList" class="nav-link ">
                            <i class="icon-list"></i>
                            <span class="title">Gıda Türleri Listesi</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-drawer"></i>
                    <span class="title">Kategori İşlemleri</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin/Category/AddCategory" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Kategori Ekle</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin/Category/CategoryList" class="nav-link ">
                            <i class="icon-list"></i>
                            <span class="title">Kategori Listesi</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-fire"></i>
                    <span class="title">Yemek İşlemleri</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin/Meal/AddMeal" class="nav-link ">
                            <i class="icon-plus"></i>
                            <span class="title">Yemek Ekle</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin/Meal/MealList" class="nav-link ">
                            <i class="icon-book-open"></i>
                            <span class="title">Yemek Listesi</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>